/* Increase the logo in the header */
.md-header__button.md-logo img, .md-header__button.md-logo img {
    height: 2.2rem;
}

/* Center the logo on the home page */
.logo-center {
    display: block;
    margin: auto;
}

/* Adjust the icons*/
.md-social__link svg, .md-source__icon svg, .magnifyingglass {
    fill: none !important;
    max-height: none;
}

.md-source__icon svg {
    scale: 1.5;
}

.md-social__link svg:hover {
    opacity: .6;
}

.md-social a:last-child {
    margin-left: -8px;
}
